[DEFAULT]
# Path to the ReportWizard generate.sh shell script inside MagicDraw, adjust for your local installation
app=/Applications/MagicDraw_19.0/plugins/com.nomagic.magicdraw.reportwizard/generate.sh

# Path to model to convert to LaTeX for OMG Specifications Process Documents.  May be an .mdzip or .xml file.
model=MyModel.mdzip

# Packages to export as LaTeX. These are not paths to packages, but must be unique names.
pkgs=PackageA PackageB PackageC

# Paths for output of LaTeX files, and SVG Image files
texoutput=MyModel_LaTeX/GeneratedContent
imgoutput=MyModel_LaTeX/GeneratedContent/Images
